{% extends 'layout.html' %}
{% block content %}
  <br>
  <div class="row">
    <div class="col-sm-12">
      <h3 class="col-sm-12 text-center">{{ title }}</h3>
      <form class="form-horizontal" method="{{ method }}">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#info">Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#author">Author</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#part">Parts</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div id="info" class="container tab-pane active"><br>
            <!--Start Content tab1-->
            <div class="row">
              <input type="hidden" name="bookId" value="{{ author.bookId }}">
              <div class="col-md-8 order-md-1">
                <div class="row">
                  <div class="col-md-12 mb-6">
                    <label class="" for="title">Title</label>
                    <input type="text" class="form-control" id="title" placeholder="" value="{{ author.title }}" required="required">
                    <div class="invalid-feedback">
                      Tieu de phai nhap
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="code">Code</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="code" placeholder="Username" required="required" name="instruction" value="{{ author.code }}">
                    <div class="invalid-feedback" style="width: 100%;">
                      Your code is required.
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="shortDescription">Short Desc</label>
                  <input type="text" class="form-control" id="shortDescription" value="{{ author.shortDescription }}">
                  <div class="invalid-feedback">
                    Vui long nhap mieu ta ngan
                  </div>
                </div>

                <div class="mb-3">
                  <label for="fullDescription">Full Desc</label>
                  <input type="text" class="form-control" readonly id="fullDescription" value="{{ author.fullDescription }}">
                  <div class="invalid-feedback">
                    Vui long nhap mieu ta ngan
                  </div>
                </div>

                <div class="mb-3">
                  <label for="instruction">Instruction</label>
                  <input type="text" class="form-control" id="instruction" value="{{ author.instruction }}">
                  <div class="invalid-feedback">
                    Vui long nhap mieu ta ngan
                  </div>
                </div>

                <div class="mb-3">
                  <label for="fullInstruction">Full Instruction</label>
                  <input type="text" class="form-control" readonly id="fullInstruction" value="{{ author.fullInstruction }}">
                  <div class="invalid-feedback">
                    Vui long nhap mieu ta ngan
                  </div>
                </div>
              </div>

              <div class="col-md-4 order-md-2 mb-4">
                <div class="row">
                  <div class="col-md-12 mb-6">
                    <label for="firstName">Icon</label>
                    <input type="hidden" class="form-control" id="firstName" placeholder="" value="{{ author.icon }}" required="required">
                    <img src="{{ author.icon }}" class="img-thumbnail" alt="Cinque Terre">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mb-6">
                    <label for="firstName">Cover</label>
                    <input type="hidden" class="form-control" id="firstName" placeholder="" value="{{ author.cover }}" required="required">
                    <img src="{{ author.cover }}" class="img-thumbnail" alt="Cinque Terre">
                  </div>
                </div>
              </div>
            </div>
            <!--End Content tab2-->
          </div>
          <div id="author" class="container tab-pane fade"><br>
            <button type="button" class="btn btn-outline-primary">Add</button>
            {% for author in author.author %}
              <div class="jumbotron">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Author Name</span>
                  </div>
                  <input type="text" id="{{ author.authorId }}-name" value="{{ author.name }}" class="form-control" name="authorName">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <button class="btn btn-outline-info" type="button">Avatar</button>
                  </div>
                  <input type="text" id="{{ author.authorId }}-avatar" value="{{ author.avatar }}" class="form-control" name="authorAvatar">
                </div>
                <button type="button" class="btn btn-outline-danger">Remove</button>
              </div>
            {% endfor %}
            <br>
          </div>
          <div id="part" class="container tab-pane fade"><br>
            <div id="accordion">
              {#{% for part in author.parts %}#}
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Collapsible Group Item #3
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
              {#{% endfor %}#}
            </div>
          </div>
        </div>
        <div class="row">
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">{{ submit_btn_label }}</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}


{% block jsExtend %}
{% endblock %}

{% block cssExtend %}
{% endblock %}