{% extends 'layout.html' %}
{% block content %}
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <form class="was-validated" method="post">
                <div class="form-group {% if error.name %}has-error{% endif %}">

                    <label for="name" class="control-label">E-Mail gửi thông báo</label>
                    {#<div class="col-sm-10">#}
                        <input type="text" class="form-control" name="email" placeholder="E-Mail" value="{{ config.email }}">
                        <br>
                        <span class="breadcrumb">Gửi nhiều E-Mail sử dụng dấu ',' (VD: abc@gmail.com,cde@gmail.com,...)</span>
                        {% if error.name %}
                            <br>
                            <p class="bg-danger">{{ error.name }}</p>
                        {% endif %}
                        {% if mes %}
                            <br>
                            <p class="bg-danger">{{ mes }}</p>
                        {% endif %}
                    {#</div>#}
                </div>
                <div class="form-group">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" {% if config.isSendMail %}checked{% endif %} class="custom-control-input" name="isSendMail">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Kích hoạt gửi e-mail</span>
                    </label>


                    {% if error %}
                        <br>
                        <p class="bg-danger">{{ error }}</p>
                    {% endif %}

                </div>
                <div class="form-group">
                    <div class="">
                        <button type="submit" onclick="waitingDialog.show('Hệ Thống Đang Xử Lý Vui Lòng Chờ !!!');" class="btn btn-primary">Cập Nhật</button>
                        <button type="reset" class="btn btn-default">Nhập lại</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-2"></div>
{% endblock %}
{% block jsExtend %}
<script>
    var waitingDialog = waitingDialog || (function ($) {
        'use strict';

        // Creating modal dialog's DOM
        var $dialog = $(
            '<div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">' +
            '<div class="modal-dialog modal-m">' +
            '<div class="modal-content">' +
            '<div class="modal-header"><h3 style="margin:0;"></h3></div>' +
            '<div class="modal-body">' +
            '<div class="progress progress-striped active" style="margin-bottom:0;"><div class="progress-bar" style="width: 100%"></div></div>' +
            '</div>' +
            '</div></div></div>');

        return {
            /**
             * Opens our dialog
             * @param message Custom message
             * @param options Custom options:
             * 				  options.dialogSize - bootstrap postfix for dialog size, e.g. "sm", "m";
             * 				  options.progressType - bootstrap postfix for progress bar type, e.g. "success", "warning".
             */
            show: function (message, options) {
                // Assigning defaults
                if (typeof options === 'undefined') {
                    options = {};
                }
                if (typeof message === 'undefined') {
                    message = 'Loading';
                }
                var settings = $.extend({
                    dialogSize: 'm',
                    progressType: '',
                    onHide: null // This callback runs after the dialog was hidden
                }, options);

                // Configuring dialog
                $dialog.find('.modal-dialog').attr('class', 'modal-dialog').addClass('modal-' + settings.dialogSize);
                $dialog.find('.progress-bar').attr('class', 'progress-bar');
                if (settings.progressType) {
                    $dialog.find('.progress-bar').addClass('progress-bar-' + settings.progressType);
                }
                $dialog.find('h3').text(message);
                // Adding callbacks
                if (typeof settings.onHide === 'function') {
                    $dialog.off('hidden.bs.modal').on('hidden.bs.modal', function (e) {
                        settings.onHide.call($dialog);
                    });
                }
                // Opening dialog
                $dialog.modal();
            },
            /**
             * Closes dialog
             */
            hide: function () {
                $dialog.modal('hide');
            }
        };

    })(jQuery);

</script>
{% endblock %}
{% block cssExtend %}

{% endblock %}