{% extends 'layout.html' %}
{% block content %}
  <h3 style="color:red" id="error"></h3>
  <div id="dropzone">
      {#<form action="/file"#}
      {#class="dropzone"#}
      {#id="mydropzone">#}
      {#<input type="file" name="file" />#}
      {#</form>#}
    <form class="dropzone" id="mydropzone">
      <div class="fallback">
          {#<input name="file" type="file" />#}
      </div>
    </form>
  </div>
  <!-- HTML heavily inspired by http://blueimp.github.io/jQuery-File-Upload/ -->
{% endblock %}
{% block jsExtend %}
  <script src="plugins/dropzonejs/dropzone.js"></script>
  <script>
      Dropzone.autoDiscover = false;
      Dropzone.options.mydropzone = {
          acceptedFiles: '.xlsx,.xls',
          maxFilesize: 2,
          accept: function(file, done) {
              done();
          }
      }
      window.onload = function() {

          var MyDropzone = new Dropzone('#mydropzone',{
              url : '{{ urlForm }}',
              method: 'post',
              parallelUploads : 1,
              maxFilesize: 10,
              success: function (results) {
                  window.location.href = '/'
              },
              error: function (msg){
                  alert("Mã đã được dùng hoặc sai file excel !");
                  window.location.href = '{{ urlForm }}'
              }
          })
      };

  </script>
{% endblock %}