{% extends 'layout.html' %}
{% block content %}
    <br>
    <div class="row">
        {% if mes %}
            <div class="alert alert-success" role="alert">
                {{ mes }}
            </div>
            {% elif err %}
            <div class="alert alert-danger" role="alert">
                {{ err }}
            </div>
        {% endif %}
        <div class="col-sm-12">
            <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Book Name</th>
                    <th>Type Of Gift</th>
                    <th>#</th>
                </tr>
                </thead>
                <tbody>
                {% if gifts %}
                    {% for gift in gifts %}
                        <tr>
                            <td>{{ gift['_id'][0].title }}</td>
                            <td>{{ gift['_id'][0].type }}</td>
                            <td>
                                <a href="/edit?id={{ gift._id }}" class="btn btn-warning btn-xs">Sửa</a>
                                <a href="/delete?id={{ gift._id }}" class="btn btn-danger btn-xs">Xóa</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="dataTables_info" id="example_info" role="status" aria-live="polite">
                {{ totalCount }} Liên kết được tìm thấy
            </div>
        </div>
        <div class="col-sm-7  text-right">
            <nav aria-label="Page navigation">
                {{ totalPage | pagination(page,'/gift/page/{page}',5,'Truoc','Sau','pagination') | safe }}
            </nav>
        </div>
    </div>

{% endblock %}
{% block jsExtend %}

{% endblock %}
{% block cssExtend %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
{% endblock %}