{% extends 'layout.html' %}
{% block content %}
    <br>
    <div class="row">
    {% if mes %}
        <div class="alert alert-success" role="alert">
            {{ mes }}
        </div>
    {% elif err %}
        <div class="alert alert-danger" role="alert">
            {{ err }}
        </div>
    {% endif %}
        <div class="col-sm-12">
            <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Code</th>
                    <!--<th>#</th>-->
                    <th><a href="/?status={{ order }}">Created Date</a></th>
                    <th>#</th>
                </tr>
                </thead>
                <tbody>
                {% if books %}
                    {% for book in books %}
                        <tr>
                            <td>{{ book.title }}</td>
                            <td>{{ book.code }}</td>
                            <!--<td><a href="{{ book.fullInstruction }}" target="_blank">Xem Chi Tiết</a></td>-->
                            <td>
                                {{ book.createdDate | date('DD-MM-YYYY') }}
                            </td>
                            <td>
                                <a href="/edit?id={{ book._id }}" class="btn btn-warning btn-xs">Sửa</a>
                                {#<a href="/delete?id={{ book._id }}" class="btn btn-danger btn-xs">Xóa</a>#}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="dataTables_info" id="example_info" role="status" aria-live="polite">
                {{ totalCount }} Liên kết được tìm thấy
            </div>
        </div>
        <div class="col-sm-7  text-right">
                <nav aria-label="Page navigation">
                    {{ totalPage | pagination(page,'/page/{page}',5,'Truoc','Sau','pagination') | safe }}
                    <!--<ul class="pagination">-->
                        <!--<li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
                        <!--<li class="page-item"><a class="page-link" href="#">1</a></li>-->
                        <!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
                        <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
                        <!--<li class="page-item"><a class="page-link" href="#">Next</a></li>-->
                    <!--</ul>-->
                </nav>
        </div>
    </div>

{% endblock %}
{% block jsExtend %}

{% endblock %}
{% block cssExtend %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
{% endblock %}