<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="thangnv">
    <title>Mcbooks - Hệ Thống Kiểm Tra Các Sách Trên Tiki</title>
    <!-- Bootstrap core CSS -->
    <!--<link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet"/>-->
    <!-- Custom styles for this template -->
    <link href="/bootstrap-3.3.7-dist/css/style.css" rel="stylesheet"/>
    <script src="/plugins/jquery-3.1.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% block cssExtend %}
    {% endblock %}
    {% block jsExtend %}
    {% endblock %}
</head>

<body>

<div class="container ">
    <header class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link{% if nav == 'list_books' %} active{% endif %}" href="/">
                        List Books <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if nav == 'add_books' %} active{% endif %}" href="/add_book">Add Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if nav == 'add_books' %} active{% endif %}" href="/add_gift">Add Gifts</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">{{ title }}</h3>
    </header>
    {#<nav class="navbar navbar-pills navbar-fill">#}
        {#<a class="nav-item nav-link {% if nav == 'list_books' %}active{% endif %}" href="/book">List Books</a>#}
        {#<a class="nav-item nav-link {% if nav == 'list_gifts' %}active{% endif %}" href="/file">Add Book</a>#}
    {#</nav>#}
    {% block content %}
    {% endblock %}

    <!-- Site footer -->
    {#<footer class="footer">#}
        {#<div class="col-sm-6"><p>Xin Chào : {{ user.full_name }}</p></div>#}
        {#<div class="col-sm-6 text-right"><p class=""> <a href="/logout">Đăng xuất</a></p></div>#}
    {#</footer>#}

</div> <!-- /container -->

</body>
</html>




