<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>{{ title }}</title>
    <link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap-3.3.7-dist/css/style.css" rel="stylesheet">
    <script src="/js/md5.min.js"></script>
    <script>
        function md5Pass(){
            document.getElementById('inputPassword').value = md5(document.getElementById('inputPassword').value);
        }
    </script>
</head>
<body>

    <div class="container">

        <form class="form-signin" action="/login" method="post"">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-primary" type="submit" onclick="md5Pass()">Sign in</button>
            <button class="btn btn-default" type="reset">Reset</button>
            <a class="btn btn-warning" href="/register" style="float: right">register</a>
            {% if error %}
                <h3 style="color: red">{{ error }}</h3>
            {% endif %}
        </form>

    </div>


</body>
</html>